/* ---------------------------------------
				Default
--------------------------------------- */

html,
body {
	background-color: $bg-colour;
}


main {
	width: 100%;
	padding: 3rem 7% 2rem;
	margin: 0 auto;
	background-color: $bg-colour;
	position: relative;
}

.post-content,
.post-excerpt {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	height: 70px;
	border-top: 1px solid $medium-grey;
	text-align: center;
	padding: 20px;
	position: relative;

	background-color: #fff;
}