/* ---------------------------------------
				Default
--------------------------------------- */



html,
body {
	background-color: rgb(250, 250, 250);
}

/* */

#homepage-hero {
	background-color: pink;
	width: 100vw;
	height: 50vh;
}


main {
	width: 85%;
	max-width: 960px;
	margin: 2rem auto;
}

