/* ---------------------------------------
			Homepage
--------------------------------------- */

#homepage-hero {
	@include bg-image;
	width: 100%;
	height: 100vh;
	position: relative;

	color: $bg-colour;

	.btn {
		margin: 1rem;
	}
}


.blog-description {
	margin: 2rem auto;
}


.homepage-links {

	li {

		display: inline-block;

		a {
			@extend .btn;
			display: inline-block;
		}
	}
}
