/* ---------------------------------------
			Post Layout Page
--------------------------------------- */


.post-meta {
	color: $bg-colour;
}


.post-footer {
	margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
	border-top: 1px solid $medium-grey;

	@include clearfix;

	.tags {
		float: left;
	}

	.share {
		float: right;
		text-align: right;


		.fa {
			width: 30px;
			height: 30px;
			background-color: $medium-grey;
			color: $bg-colour;
			border-radius: 50%;
			text-align: center;
			padding: 8px;
			margin: 5px 0 0 5px;
			transition: background-color 0.6s;
		}

		.fa:hover {
			background-color: $theme-colour;
		}
	}
}