/* ---------------------------------------
				Type
--------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400);

@import url(http://fonts.googleapis.com/css?family=Merriweather:700,300italic,300,900);


$serif: 'Merriweather', serif;

$sans-serif: 'Oxygen', sans-serif;


html {
	font-size: 62.5%;
}

body {
	font-family: $serif;
	font-size: 20px;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 300;
	color: $font-colour;
}

h1 {
	font-family: $serif;
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
}


a {
	color: inherit;
	font-weight: 700;
}

nav a {
	text-decoration: none;
}


.btn {
	font-family: $serif;
	font-size: 1.4rem;
}

small {
	font-size: 12px;
	font-size: 1.2rem;
}


blockquote {
	font-size: 2rem;
}

.regular nav {
	font-size: 1.2rem;
}









