/* ---------------------------------------
				Text Elements
--------------------------------------- */

p {
	//display: block;
	margin-bottom: 1.5rem;
}

blockquote {
	margin-bottom: 1.5rem;


	border-left: 5px solid $medium-grey;
	padding: 1rem;
	quotes: "\201C""\201D""\2018""\2019";

	p {
		margin-bottom: 0;
	}

}

blockquote:before {
	content: open-quote;
	float: left;
	padding-right: 1rem;
	font-size: 5rem;
	line-height: 1;
	color: $medium-grey;
}



pre,
code {
	background-color: #fff;
}

code {
	padding: 0 5px;
}

pre {
	padding: 10px;
	margin-bottom: 1.5rem;
}

.post-content {
	h1,
	h2,
	h3 {
		margin: 2.5rem 0 1.5rem;
	}

	ul {
		list-style-type: disc;
	}

	ul, 
	ol {
		display: block;
		width: 100%;
		padding-left: 10%;
		margin-bottom: 1.5rem;
	}

	img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

